@import url('https://fonts.googleapis.com/css?family=Sriracha&display=swap');

.Header {
    font-family: 'Sriracha', cursive;
    min-height: 10vh;
    width: 100%;
    background: linear-gradient(-180deg,#f53d2d,#f63);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.Header #logo {
    width: 7.5vh;
    margin-right: 1rem;
}

.Header #brand {
    color: white;
    font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
    .Header #brand {
        font-size: 1.2rem;
    }
}