.Footer {
    min-height: 8vh;
    width: 100%;
    background: #e7e7e7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(0, 0, 0, 0.65);
    user-select: none;
}

.Footer div {
    margin: 0 1rem;
}
